<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LabaNumbaSix</title>
</head>
<body>
<div><label>какой автомобиль: </label><span ><select name="car" ><option value="Renault Logan">Renault Logan</option><option value="Volkswagen Jetta 2010">Volkswagen Jetta 2010</option><option value="Honda Fit">Honda Fit</option><option value="Hyundai Santa Fe">Hyundai Santa Fe</option><option value="Hyundai SONATA">Hyundai SONATA</option><option value="Volkswagen Jetta 2009">Volkswagen Jetta 2009</option><option value="Honda Insight">Honda Insight</option><option value="Jeep Grand Cherokee">Jeep Grand Cherokee</option><option value="Volkswagen Jetta универсал">Volkswagen Jetta универсал</option><option value="Toyota Prius">Toyota Prius</option><option value="Volkswagen Jetta 2007">Volkswagen Jetta 2007</option><option value="Прокат лафета">Прокат лафета</option></select></span></div>


</body>
</html>
